* {
  margin: 0;
  padding: 0;
  list-style: none;
}

.cat-container {
  display: flex;
  justify-content: space-around;
  margin: 30px;
}

.result-container {
  margin-top: 30px;
}

@media screen and (max-width: 700px) {
  .cat-container {
    flex-direction: column;
    align-items: center;
  }
}
