body{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
  height: 100%;
}


.card {
  padding: 2em;
}

.pageContainer{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 100%;
  height: 100%;
}

.catListContainer{
  display: flex;
  flex-wrap: wrap;
  justify-content:center ;
  align-items: center;
  gap: 3rem;
}
