* {
  margin: 0;
  padding: 0;
}
nav {
  display: flex;
  justify-content: space-evenly;
  font-size: x-large;
  color: blueviolet;
}
.leaderboard-container {
  display: flex;
  flex-direction: column;
  width: 100vw;
  align-items: center;
}

h1 {
  text-align: center;
  margin: 1em;
}
h3 {
  margin-bottom: 1em;
  margin-top: 0;
}
img {
  width: 30vw;
}
